*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    background-color: #007cfd;
    text-align: center;
    height: 64px;
    font-size: 26px;
    color: #fff;
    line-height: 64px;
}
.chat-container{
    height: 100vh;
}
.chat-container .main{
    height: calc(100vh - 64px);
    display: flex;
}
.chat-container .conversation-detail{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 85%;
}
.chat-container .conversation-title{
    background-color: #fff;
    text-align: center;
    height: 64px;
    font-size: 23px;
    color: #000;
    line-height: 64px;
    border-bottom: solid 1px #dbdbdb;
}
#send-message-form{
    border: #dbdbdb 1px solid;
    position: relative;
}
.chat-container .list-message{
    flex-grow: 1;
}
#send-message-form button{
    position: absolute;
    top:10px;
    right:20px;
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: none;
}
#send-message-form .input-wrapper{
    margin: 0px;
}
#send-message-form .input-wrapper input{
    padding: 22px 20px;
    border-left: none;
}

.list-message .message .content{
    width: max-content;
    padding: 4px 8px;
    border-radius: 4px;
    max-width: 45%;
    word-break: break-all;
}
.list-message .message.mine .content{
    background-color: blue;
    color: #fff;
    font-size: 24px;
   
}
.list-message .message.mine{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}
.chat-container .list-message{
    padding: 15px;
    overflow-y: auto;
}
.list-message .message.their .content{
    background-color: #dbdbdb;
    color: #000;
    font-size: 24px;
} 
.list-message .message.their .owner{
    color: #000;
    font-size: 18px;
    font-style: italic;
    font-weight: 10;
} 

.chat-container .aside-left{
    width: 15%;
    height: 100%;
    border-right: 1px solid #dbdbdb;

}
.chat-container .aside-left .create-conversation{
    display: flex;
    height: 64px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
}
.chat-container .aside-left .list-conversations .conversation{
    padding: 10px;
    position: relative;
}
.chat-container .aside-left .list-conversations .conversation.current{
    background: #dbdbdb;
}
.chat-container .list-conversations{
    height: 85%;
    overflow: auto;
}
.chat-container .aside-right{
    height: 85%;
    border-left: 1px solid #dbdbdb;
    padding: 10px;
    width: 15%;
    
}
.chat-container .aside-right .user-email{
    overflow: hidden;
    text-overflow: ellipsis;
}
.chat-container .notification{
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    width: 15px;
    height: 15px;
    top:20px;
    right: 12px;
    display: none;
}

@media screen and (max-width:768px){
    .aside-right{
        display: none;
    }
    .chat-container .conversation-detail{
        width: 85%;
    }
    .chat-container .aside-left .num-of-user{
        display: none;
    }
    .chat-container .aside-left .list-conversations .conversation{
        height: 64px;
        width: 64px;
        border-radius: 50%;
        padding: 0;
        border: 1px solid #dbdbdb;
        text-align: center;
        line-height: 64px;
        margin: auto;
        margin-bottom: 10px;

    }
    .chat-container .aside-left .list-conversations .conversation:first-child{
        height: 64px;
        width: 64px;
        border-radius: 50%;
        padding: 0;
        border: 1px solid #dbdbdb;
        text-align: center;
        line-height: 64px;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;

    }
    .chat-container .notification{
        width: 12px;
        height: 12px;
        top: 22px;
        right: 0px;
    }
}
@media screen and (max-width:576px){
    .chat-container .aside-left .list-conversations .conversation:first-child{
        height: 45px;
        width: 45px;
        border-radius: 50%;
        padding: 0;
        border: 1px solid #dbdbdb;
        text-align: center;
        line-height: 45px;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;

    }
    .chat-container .aside-left .list-conversations .conversation{
        height: 45px;
        width: 45px;
        border-radius: 50%;
        padding: 0;
        border: 1px solid #dbdbdb;
        text-align: center;
        line-height: 45px;
        margin: auto;
        margin-bottom: 10px;

    }
    .chat-container .notification{
        width: 12px;
        height: 12px;
        top: 12px;
        right: 0px;
    }
}